@media screen and (max-width: 1024px){ 
    
    .part1{
        width: auto;
        margin-left:-100px;
        width: 100%;
        height: 100vh;
    }
    .part2{
        display: none;
  }
}
 @media screen and (max-width:1024px) and (min-width:761px){
    .part1{
      height: 100vh;
      width: 50%;
    }
    .part2{
      height: 100vh;
      width: 50%;
    }
  }

  @media (max-width: 600px) { /* Menor a 600 */
    .menu{
        display: flex;
        width: 25%;
        align-items: center;
        padding-left: 0.8rem;
    }
    .logo{
        display: none;
    }
}
